<style>
  div {
    background-color: rgb(239, 135, 88);
    width: 25%;
    height: 200px;
    float: left;
  }

  #ex1 {
    background-color: lightblue;
    border: solid black 1px;
    margin-inline: 35px;/*<- 35 px on both right & left side only not on top & bottom.*/
  }
</style>


<p>margin-inline works!</p>

<h1>The margin-inline Property</h1>


<div>A div element with no specified margins.</div>

<div id="ex1">This div element has a margin of 35 pixels on both sides in the inline direction.</div>

<div>A div element with no specified margins.</div>

<p>margin-inline & margin-block’s(margin-inline-start & margin-inline-end /margin-block-start & margin-block-end) are suitable
  to display the multilingual text in css.</p>
