<p>flag-drawing works!</p>
<style>
  .row1 {
    height: 33.3%;
    width: 100%;
    color: khaki;
    border: 1px solid blue;
    background-color: darkkhaki;
  }

  .row2 {
    height: 33.3%;
    background-color: whitesmoke;
  }

  .row3 {
    height: 33.3%;
    background-color: green;
  }

  .row2 > div {
    height: inherit;
    width: 10%;
    border-radius: 50%;
  }

</style>

<div>
  <!--
  specify height,
  html login page.
  -->
  <div class="row1">

  </div>

  <div class="row2">
    <div>
    </div>
  </div>

  <div class="row3">
  </div>
</div>
