<p>css-float works!</p>

<style>
  .img1 {
    float: left;
  }

  .img2 {
    float: left;
  }

  footer {
    /*clear: left; !*<- To clear the things that is floating on 'left' side. *!*/
    clear: both; /* <- To clear both left and right side. */
  }

  div {
    display: inline-block;
    width: 500px;
    height: 500px;
  }

  .first {
    float: left;
    background-color: darkkhaki;
  }

  .second {
    float: right;
    background-color: aquamarine;
  }

</style>

<div class="first">
  <img alt="" class="img1" height="183" ngSrc="assets/images.jpeg" width="275">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis corporis deleniti dicta distinctio fuga,
    fugit iste nemo nobis quis sapiente voluptas voluptates! Aliquid fugiat incidunt magnam maxime quaerat ut!
  </p>
</div>

<div class="second">
  <img alt="" class="img2" height="183" ngSrc="assets/images.jpeg" width="275">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at ducimus ea exercitationem illum magni,
    nihil non perferendis quae tempora? Doloribus in libero nisi nobis nulla qui quisquam repudiandae voluptatibus.
  </p>
</div>

<footer>asdf</footer>
