<h1>App Component</h1>
<ol>
  <li [routerLink]="['cssSelector']">Css Selector/Combinator</li>
  <li>FlexLayout</li>
  <ul>
    <li [routerLink]="['flexLayout']">FlexLayouts Basic</li>
    <li [routerLink]="['flex-sizing']">FlexLayouts Sizing</li>
  </ul>
  <li [routerLink]="['cssPositioning']">Positioning</li>
  <li [routerLink]="['cssSelector']">Selectors in CSS</li>
  <li [routerLink]="['cssSpecificity']">CSS Specificity</li>
  <li [routerLink]="['cssFloat']">CSS Float.</li>
  <li [routerLink]="['css-margins']">CSS Margins</li>
  <ul>
    <li [routerLink]="['inlineMargin']">Inline Margin</li>
  </ul>
  <li>Training Projects</li>
  <ul>
    <li [routerLink]="['cssFlag']">CSS Flag.</li>
    <li [routerLink]="['pricing_table']">Flex Layouts Pricing Table.</li>
  </ul>
</ol>

<hr>
<router-outlet/>
