<h1>App Component</h1>
<ol>
  <li [routerLink]="['cssSelector']">Css Selector/Combinator</li>
  <li>Css Intrinsic Sizing</li>
  <ul>
    <li [routerLink]="['cssIntrinsicSizing']">Css Min-Content Max-Content Fit-Content</li>
    <li [routerLink]="['IntrinsicMinMaxClamp']">IntrinsicMinMaxClamp</li>
  </ul>
  <li>FlexLayout</li>
  <ul>
    <li [routerLink]="['flexLayout']">FlexLayouts Basic</li>
    <li [routerLink]="['flex-sizing']">FlexLayouts Sizing</li>
  </ul>
  <li [routerLink]="['cssPositioning']">Positioning</li>
  <li [routerLink]="['cssSelector']">Selectors in CSS</li>
  <li [routerLink]="['cssSpecificity']">CSS Specificity</li>
  <li [routerLink]="['cssFloat']">CSS Float.</li>
  <li>Grid Layout</li>
  <ul>
    <li [routerLink]="['grid-layout']">Grid Basic</li>
    <li [routerLink]="['grid-sizing']">Grid Sizing</li>
  </ul>
  <li>CSS Margins</li>
  <ul>
    <li [routerLink]="['css-margins']">CSS Margin</li>
    <li [routerLink]="['inlineMargin']">Inline Margin</li>
  </ul>
  <li>Training Projects</li>
  <ul>
    <li [routerLink]="['cssFlag']">CSS Flag.</li>
    <li [routerLink]="['pricing_table']">Flex Layouts Pricing Table.</li>
    <li [routerLink]="['gridSizingExample']">Grid Sizing Example.</li>
    <li [routerLink]="['gridPlacement']">Grid Placement Example.</li>
    <li [routerLink]="['gridColumnPlacement']">Grid Column Placement Example.</li>
    <li [routerLink]="['gridCellPlacement']">Grid Cell Placement Example.</li>
    <li [routerLink]="['gridOverlapping']">Grid Overlapping</li>
  </ul>
  <li [routerLink]="['mediaQueries']">Media Queries.</li>
  <li [routerLink]="['containerQueries']">Container Queries.</li>
</ol>

<hr>
<router-outlet/>
